* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* profile card design  */
.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  box-shadow: 0 5px 10px gray;
  border-radius: 25px;
  padding: 25px;
  position: relative;
}

.profileCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25px 25px 0px 0px;
  height: 35%;
  width: 100%;
  background-color: blueviolet;
}
/* profile image  */
.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: blueviolet;
  padding: 3px;
  margin-bottom: 10px;
}
.image .profile-img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}
/* profile information */
.profileCard .profileData {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.name {
  font-size: 24px;
  font-weight: 600;
}
.role {
  font-size: 16px;
  font-weight: 600;
  color: blueviolet;
}
/* social media */
.socialMedia {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.socialMedia a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 20px;
  height: 34px;
  width: 34px;
  margin: 0 8px;
  border-radius: 50%;
  text-decoration: none;
  background-color: blueviolet;
}
/* contact section */
.contact {
  margin-top: 15px;
}
.massage {
  border-radius: 15px;
  border: solid 3px blueviolet;
  padding: 5px 15px;
}
.subBtn {
  padding: 5px 15px;
  border: solid 2px blueviolet;
  border-radius: 15px;
  color: whitesmoke;
  background-color: blueviolet;
  font-size: 16px;
}
.subBtn:hover {
  background-color: whitesmoke;
  color: blueviolet;
  border: solid 2px blueviolet;
}
