* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: whitesmoke;
}
.profileCard {
  height: 470px;
  width: 350px;
  border: solid 2px blueviolet;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  height: 280px;
  width: 280px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.profile-img {
  width: 250px;
  border-radius: 50%;
}
